@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100vh;
  width: 100vw;
}

/* leaflet container */
.leaflet-bottom.leaflet-right {
  @apply right-3 bottom-6 !important;
}

/* hide leaflet logo */
.leaflet-attribution-flag {
  visibility: hidden !important;
  opacity: 0 !important;
}

/* summary style for attribution */
.leaflet-touch .leaflet-bar.custom-attribution-control {
  border: none !important;
}

.custom-attribution-control {
  @apply pb-15 xsm:pb-10 sm:pb-5 md:pb-3 lg:pb-0 !important;
}

.custom-attribution-control summary {
  box-sizing: border-box;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  list-style: none;
  @apply w-6 h-6 bg-white text-black flex items-center justify-center shadow-3 border-2 border-solid border-neutral-300 rounded-full;
}

.custom-attribution-control summary:hover {
  background-color: #f0f0f0;
  color: #000;
}

/* make attribution a tag in left part move right a bit */
.leaflet-control-attribution.leaflet-control
  a[title="A JavaScript library for interactive maps"][href="https://leafletjs.com"]:first-of-type
{
  margin-left: -14px;
}

/* handle display attribution */
.leaflet-control-attribution.leaflet-control {
  @apply absolute right-10 w-[220px] border rounded-lg border-solid border-transparent !important;
  @apply bottom-19 xsm:bottom-14 sm:bottom-9 md:bottom-7 lg:bottom-3 !important;
  @apply shadow-3 backdrop-blur-sm bg-white/30 transition-all duration-500 ease-in-out !important;
}

.leaflet-control-attribution.visible,
.leaflet-control.visible {
  display: block;
}

/* map */
.map {
  position: absolute;
  height: 90vh;
  width: 90vw;
}

/* hide leaflet routing bar */
.leaflet-routing-container {
  display: none;
}

/* change all project text */
.text-tailwind {
  @apply text-body relative z-1;
}

/* zoom in zoom out bar */
.leaflet-control-zoom {
  @apply shadow-3 border-2 rounded-lg border-solid border-neutral-300 bg-white !important;
}

.leaflet-touch .leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  @apply text-black shadow-none bg-transparent !important;
}

.leaflet-touch .leaflet-control-zoom-in:hover,
.leaflet-control-zoom-out:hover {
  font-size: 26px;
}
